$primary-color-dark: #0D47A1;
$primary-color: #1565C0;
$primary-color-light: #42A5F5;
$accent-color: #FFAB00;
$accent-color2: #FFC400;
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: $primary-color;
  color: #fff;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  font-size: 120%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 60px 0 0 0;
  position: relative;
}

%btn {
  background-color: $accent-color;
  border: 3px solid $accent-color;
  border-radius: 5px;
  color: #212121;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 10px;
}

.google-map {
  height: 350px;
  position: absolute;
  width: 60%;
  left: 0;
  right: 0;
  margin: 0 auto 50px auto;
}

.google-map-canvas {
  border-radius: 5px;
  top: 20px;
  display: block;
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: $primary-color-dark;
  display: flex;
  justify-content: flex-end;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  &__menu {
    float: right;
  }
}

.menu {
  &__item {
    display: inline-block;
    margin: 0 15px;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.title {
  margin: 50px 0 100px 0;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $accent-color;
    color: #fff;
    padding: 12px;
  }
  &__btn {
    @extend %btn;
  }
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  font-size: 0;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  font-size: 0;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  font-size: 0;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  font-size: 0;
}

.alert {
  text-align: center;
}

.weather {
  background-color: #fff;
  color: #212121;
  text-align: center;
  display: block;
  max-width: 70%;
  border-radius: 4px;
  margin: 50px auto;
  overflow: hidden;
  padding: 0 0 20px 0;
  position: relative;
  @media all and (min-width: 992px) {
    max-width: 50%;
  }
  &__header {
    background-color: $primary-color-light;
    color: #fff;
    margin: 0 0 20px 0;
    padding: 15px;
  }
  &__temperature {
    font-size: 150%;
  }
  &__icon {
    position: absolute;
    top: 70px;
    right: 10px;
  }
  &__btn {
    @extend %btn;
  }
  &__addto {
    position: relative;
  }
  &__alert {
    color: green;
    position: absolute;
    top: 15px;
  }
  &__info {
    color: green;
    display: block;
    text-align: center;
  }
}

.my-locations {
  margin: auto;
  padding: 10px;
  @media all and (min-width: 1280px) {
    max-width: 1200px;
  }
  .weather {
    float: right;
    margin: 0;
    width: 70%;
    @media all and (min-width: 992px) {
      max-width: 60%;
    }
  }
}

.locations {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  float: left;
  width: 30%;
  margin: 0;
  padding: 0;
  &__item {
    list-style: none;
    border: 3px solid $accent-color;
    margin: 0 0 10px 0;
    position: relative;
    &--active {
      background-color: $accent-color;
      .locations__link {
        color: #212121;
        font-weight: bold;
      }
    }
  }
  &__link {
    color: #fff;
    display: block;
    padding: 20px 5px;
    text-align: center;
    text-decoration: none;
  }
  &__remove {
    border: 2px solid $accent-color;
    border-radius: 50%;
    background-color: $accent-color;
    color: $primary-color-dark;
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 35px;
    right: 10px;
    top: 10px;
    text-align: center;
    text-decoration: none;
    position: absolute;
  }
}

.wrapper {
  margin: 0 0 10px 0;
  position: relative;
  height: 100%;
}

.main-wrapper {
  height: calc(100% - 60px);
  position: relative;
}

.footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}