* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: $dark;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  height: 100%;
}

.locations {
  li {
    list-style: none;
    display: inline-block;
    border: 1px solid #000;
    margin: 0 10px 0 0;
    padding: 20px;
  }
}

html,
body,
.google-map {
    height: 100%;
    position: absolute;
    width: 100%;
}

.google-map-canvas {
    top: 20px;
    display: block;
    width: 100%;
    height: 100%;
}