* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: $dark;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

html,
body,
.google-map {
    height: 100%;
    position: absolute;
    width: 100%;
}

.google-map-canvas {
    top: 20px;
    display: block;
    width: 100%;
    height: 100%;
}

.locations {
  .card {
    cursor: pointer;
    float: left;
    margin: 20px;
    width: 25%;
  }
  .card-body {
    padding: 30px;
  }
}
.card-body {
  padding: 20px 0 0 0;
}